<!DOCTYPE html>
<th:block th:insert="~{fragments/common::languages}" ></th:block>
<head>
        <th:block th:insert="~{fragments/common::meta}"></th:block>
        <th:block th:insert="~{fragments/common::styles}"></th:block>
        <title>Authorization</title>
</head>
<body>

<th:block th:insert="~{fragments/common::navbar}"></th:block>
<th:block th:insert="~{fragments/common::jumbotron}"></th:block>

<th:block th:insert="~{fragments/common::log-form}"></th:block>

<th:block th:insert="~{fragments/common::scripts}"></th:block>

</body>
</html>