<!DOCTYPE html>
<th:block th:insert="~{fragments/common::languages}"></th:block>
	<head>
        <th:block th:insert="~{fragments/common::meta}"></th:block>
        <th:block th:insert="~{fragments/common::styles}"></th:block>
	    <title>Registration</title>
	</head>
	
<body>

    <th:block th:insert="~{fragments/common::navbar}"></th:block>
    <th:block th:insert="~{fragments/common::jumbotron}"></th:block>

    <th:block th:insert="~{fragments/common::reg-form}"></th:block>

    <th:block th:insert="~{fragments/common::scripts}"></th:block>

</body>
</html>